body{
    font-family: sans-serif;
    background-color: #ccc;
}

.cabecalho{
    width: 100%;
    background-image: url("./images/bg-3.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}

.cabecalho__links{
    width: 100%;
    text-align: end;
    padding: 10px;
}

.cabecalho__links li{
    list-style: none;
    display: inline-block;
    margin: 0 7px;
    border: 2px solid whitesmoke;
    padding: 10px;
    background-color: rgb(55, 55, 55, 0.4);
    

}

.cabecalho__links li a {
    text-decoration: none;
    color: whitesmoke;
    text-transform: uppercase;
}

.cabecalho__content{
    width: 100%;
    text-align: center;
    color: whitesmoke;
}

.cabecalho__content h1{
    margin: 80px auto;
    text-transform: uppercase;
    width: 50%;
    font-size: 64px;
    text-shadow: 1px 3px 3px black;
}

.cabecalho__content p{
    border-bottom: 1px solid whitesmoke;
    background-color: rgb(55, 55, 55, 0.9);
    padding: 10px;
    width: 25%;
    margin: 0 auto;
}

.index-main{
    width: 95%;
    margin: 0 auto;
}

.index-main section{
    background-color: whitesmoke;
}

.index-main__cards{
    margin: 25px auto;
}

.card{
    display: inline-block;
    width: 31.6%;
    margin: 10px;
    color: whitesmoke;
    text-transform: uppercase;
}

.card p{
    background-color: rgb(55, 55, 55, 0.9);
    padding: 10px;
    margin: 0;
}

.card img{
    width: 100%;
}

.index-main__article{
    padding: 10px;
    margin: 25px auto;
}

.index-main__article h2{
    background-color: rgb(204, 204, 204, 0.5);
    margin: 0;
    padding: 10px;
    border-bottom: 3px solid #ccc;
}